@charset "utf-8";

#background {background-color:#eaeaea;}/* This is determines what the background looks like*/
.jumbotron{background-color:transparent; padding:0px;} /* Detemines the background colour of carousell*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/* Banner
--------------------------------------------------------------------------------------------------------------- */
#logo{margin-left:auto; margin-right:auto;} /* This is the CSS for the logo*/
#banner{background-image:url("icecream.jpg");}/* This is where the background of the top header is detemined*/

/* Main Content section
--------------------------------------------------------------------------------------------------------------- */
.fl_right {float:right;}


p1{color:#363636; margin-top:10px;}
.well{ background-color:#69899f;}
h3{color:#d7e2e9;}
p{ color:#d7e2e9;}
p2{ color:#000;}
p4{color:#69899f;}
h1{color:#484848; text-decoration: underline;}
.form-group{color:#D7E2E9;}
.col-lg-4{color:#69899f;}
#contact-box{float:left; margin-bottom: 10px; padding-left: 30px;}
td{padding-bottom: 10px;}
#contactus{ background-color:#B4D8E7 ; border-radius: 25px; border: 3px solid #69899f;padding: 20px;margin-bottom: 10px;} /* Sets the color of the content page*/
#footerwrapper{border-top:solid; border-color: #69899f; } /* Sets the style of the footer*/

/* Navigation bar
--------------------------------------------------------------------------------------------------------------- */

.navbar-default {
  background-color: #69899f;
  border-color: #425766;
}
.navbar-default .navbar-brand {
  color: #d7e2e9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-text {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e5dbdb;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #69899f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #d7e2e9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #69899f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e5dbdb;
  background-color: #425766;
}
.navbar-default .navbar-toggle {
  border-color: #425766;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #425766;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d7e2e9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d7e2e9;
}
.navbar-default .navbar-link {
  color: #d7e2e9;
}
.navbar-default .navbar-link:hover {
  color: #e5dbdb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d7e2e9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e5dbdb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e5dbdb;
    background-color: #425766;
  }
}

/* AboutUs Page
--------------------------------------------------------------------------------------------------------------- */
#box{background-image:url("AboutUs background.png"); width:1000px; height:390px; margin-bottom: 20px;}
#text{text-align: left; width:500px; height:300px; margin-top: 20px;}
button{background-color:#49FDCE;}

.button:hover {                               /*Sets the color of the button and the style*/
    background-color: #425766;
    color: white;
}
h2{color:#d7e2e9; text-decoration: underline;}

#aboutus{background-color: #f9f9f9;}    /* This is the backgroudn of the about page*/
/* Flavours Page
--------------------------------------------------------------------------------------------------------------- */
.thumbnail {background-color: #425766;} /* Detemines the background colour of thumbnails * /

/* Clock 
--------------------------------------------------------------------------------------------------------------- */
#days{                                 /* This code adds a border, determines the colour  etc.. for the days, hours, minutes, seconds on the clock.*/
    border-radius: 25px;
    background: #000;
    padding:10px;
}
#hours{
    border-radius: 25px;
    background: #000;
    padding:10px;
}
#minutes{
    border-radius: 25px;
    background: #000;
    padding:10px;
}
#seconds{
    border-radius: 25px;
    background: #000;
    padding:10px;
}
